
body {
	margin:0;
	padding:0;
	font: 16px/1.9em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	background-color: #fff;
	color:#333;
}

#wrapper {
	margin: 10px auto 0px;
	text-align: left;
	position: relative;
	top:5%;
	padding-bottom:30px;
	max-width: 800px;
	width: 100%;
}

.container {
	padding: 30px;
}

h1 {
	font: 36px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	font-weight: 800;
	margin-top: 50px;
	margin-bottom:0px;
}

h1.home {
	margin-top: 0px;
	text-align: center;
}

h1.project {
	font: 24px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	font-weight: 800;
	margin-bottom:20px;
}

h2 {
	font: 18px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
}

h3 {
	font: 24px/1.4em "EB Garamond",serif;
	font-weight: 700;
}

h4 {
	font: 12px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #677CFF; 
	margin-top: 20px;
	margin-bottom: 5px;
}

p {
	font: 16px/1.7em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: 400;
	margin-top: 20;
	margin-bottom: 20;
}

p.infotext {
	color: #909090;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0;
}

.back-home { 
	font: 16px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
	position: absolute;
	top: -50px;
}

.back-top{
	font: 16px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
	text-align: right;
}

 .caption {
 	font-style: italic;
	color: #676E85;
	text-align: center;
 }

li {
	font: 16px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	padding-top: 5px;
	font-weight: 400;
	margin-top: 0;
}

ul, ol {
	font: 16px/1.4em "Inter", "Source Sans Pro","Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
	background-image: linear-gradient(to top, #1EAEDB 0, #1EAEDB .12rem, rgba(30, 174, 219, 0) .12rem, rgba(30, 174, 219, 0) 100%);
	transition: 0.2s;
	outline: none;
}

a:hover {
	 color: #1EAEDB;
}

a.plain {
	text-decoration: none;
	background-image: none;
}

strong {
	color: #2A324B;
	font-weight: bold;
}

img {
	width: 100%;
}

img.me {
	width:10%;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

img.project-img {
	padding-top: 0px; 
	padding-bottom: 20px;

}

.projects {
	padding-top: 10px;
	padding-bottom: 20px;
}

.about {
	padding-top: 10px;
}

.img-back-arrow{
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.img-border {
	border: 1px solid #E5E5E5;
}

/* Solid border */
hr.solid {
	border-top: 1px solid #E5E5E5;
}

/* Box shadow and animation */

.box {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.box:hover::after {
    opacity: 1;
}
